# Ignore everything
*

# Allow files and directories
!pyproject.toml
!pixi.lock
!src/
!mtg_ai.ipynb
!README.md
!train.py
!llama_3.1_8B_instruct_unsloth.yaml
!llama-3.3-70B-Instruct-fsdp-qlora.yaml
!llama-3.3-70B-Instruct-unsloth.yaml

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db